---
import { Picture } from "@astrojs/image/components";
const { filename, alt, aspect = "1:1" } = Astro.props;
---

<div class="-mx-4">
  <Picture
    src={"/images/" + filename}
    aspectRatio={aspect || "1:1"}
    widths={[200, 400, 800]}
    sizes="(max-width: 800px) 100vw, 800px"
    alt={alt}
  />
  <div class="flex">
    <span class="self-end text-center w-full p-2 bg-neongreen bg-opacity-70">{ alt}</span></div>
</div>


<style>

  div {
    position: relative;
  }

  div div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


</style>