---
---

<div class="main"><slot /></div>
<style lang="scss" is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .main > {
    @layer components {
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      ul {
        @apply container mx-auto max-w-xl px-4;
      }

      p {
        @apply pt-2 font-light pb-4;
      }

      h1 {
        @apply text-xl font-medium text-gray-900 pt-4 pb-2;
      }

      h2 {
        @apply text-lg font-medium leading-5 text-gray-900 pt-8 pb-2;
      }

      h3 {
        @apply font-medium text-gray-900 pt-4 pb-2;
      }

      ul {
        @apply mb-8 ;

        li {
          @apply ml-4 list-disc;
        }
      }
    }
  }
</style>
