---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MarkDown from "../components/MarkDown.astro";
import MetaTags from "../components/MetaTags.astro";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaTags title={frontmatter.title} description={frontmatter.description} />
  </head>
  <body>
    <Header></Header>
    <main class=" mb-14 min-h-screen">
      <MarkDown>
        <slot />
      </MarkDown>
    </main>
    <Footer></Footer>
    <style>
      html {
        font-family: system-ui, sans-serif;
      }

      body {
        margin: 0;
      }
    </style>
  </body>
</html>
